# Virtual Environment
venv/
.venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Environment Variables
.env

# Streamlit
.streamlit/

# Database / Storage
chroma_db/
*.log

# IDEs
.vscode/
.idea/
.DS_Store
.devcontainer/
